TestSystemApp/Service References/TestServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TestSystemService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceLibrary" />
  <xs:import schemaLocation="http://localhost/TestSystemService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/TestSystemService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/TestSystemService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DataContract" />
  <xs:element name="GetCurrentTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceLibrary" minOccurs="0" name="GetCurrentTestResult" nillable="true" type="q1:TestInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigisterStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceLibrary" minOccurs="0" name="newStudent" nillable="true" type="q2:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigisterStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RigisterStudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testId" type="xs:int" />
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StartTestResult" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion4Atempt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="atemptKey" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion4AtemptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceLibrary" minOccurs="0" name="GetQuestion4AtemptResult" nillable="true" type="q5:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="atemptKey" type="q6:guid" />
        <xs:element minOccurs="0" name="timeIsUp" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinishTestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitQuestionAnswers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="atemptKey" type="q7:guid" />
        <xs:element minOccurs="0" name="questionId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="anwersIds" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitQuestionAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitQuestionAnswersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentTestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attemptId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentTestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DataContract" minOccurs="0" name="GetStudentTestResultResult" nillable="true" type="q9:StudentTestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>